# Copiar a .env y ajustar valores
# DATABASE_URL debe coincidir con usuario, contraseña y nombre de BD de docker-compose
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/app_empresas"
JWT_SECRET="super_secret_largo"
JWT_EXPIRES_IN="7d"
PORT=3000
